.root{
    --clr :#695CFE;
    --sidbarBG:#fff;
}
*{
    box-sizing: border-box;
}
.left-part{
display: flex;
height: 100%;
align-items: center;


}
.right-part{
    display: flex;
    align-items: center;
     visibility: visible;
}
.right-part ul li{
    list-style: none;
    padding: 0 10px;
    margin: 0 5px;
    font-weight: 600;
    cursor: pointer;
    transition: .3s;
    border-bottom: 2px solid transparent;
}

.right-part ul{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}
.right-part ul li:hover,li:active{
    color:#695CFE; border-bottom: 2px solid #00f;
}
.left-part p{
    padding-right: 100px;
font-weight: 600;
font-size: 2rem;
text-transform: uppercase;
--x-offset: -0.0625em;
--y-offset: 0.0625em;
--stroke: 0.025em;
--background-color: white;
--stroke-color: #695CFE;

text-shadow: 
  
  var(--x-offset)
  var(--y-offset)
  0px
  var(--background-color), 
  
  calc( var(--x-offset) - var(--stroke) )
  calc( var(--y-offset) + var(--stroke) )
  0px
  var(--stroke-color);

}
.extra-btn{
    width: 0;
}
/* for browsers that support spread, added in
https://drafts.csswg.org/css-text-decor-4/#text-shadow-property
currently: none browsers! none of them!
I can't even find a test: 
https://wpt.fyi/results/css/css-text-decor */
@supports ( text-shadow: 1px 1px 1px 1px black ) {
h1 {
  text-shadow:
    
    var(--x-offset)
    var(--y-offset)
    0px
    0px
    var(--background-color), 
    
    var(--x-offset) 
    var(--y-offset)
    var(--stroke)
    0px
    var(--stroke-color);
  
}
}
.logoImage{

    width: 50px;
    height: 40px;
    border-radius: 3px;
    padding-left:10px; 
    cursor: pointer;
}
.sidebar{

    position: fixed;
    top: 0%;
    left: 0px;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    background-color: rgb(238, 233, 233);
    border: 1px solid black;
}
.extra-btn{
    visibility: hidden;
}
@media screen and (min-width:750px) {
    .right-part{
        visibility: visible !important;
    }
}
@media screen and (max-width:1000px) {
    .sidebar{
        padding: 0px;
    }
}
@media  screen and (max-width:750px) {
    
    .right-part ul {
   flex-direction: column;
   position: absolute;
   top: 63px;
  right: 0;
   gap: 4px;
   padding: 10px 0px;
border: 1px solid #695CFE;
height: auto;
border-radius: 5px;
z-index: 10;
   align-items: center;
   background-color: white;
   width: 180px;
   box-shadow: #695CFE 0px 5px 15px;
  
    }
    .right-part ul li{
        padding: 5px;
    }
    .extra-btn{
position: absolute;
width: auto;
top: 20px;
visibility: visible;
right: 10px;
margin: auto 0;
    }
  .left-part{
    width: 60px;
  }
  .left-part p{
    font-size: 1.5rem;
   
  }
   
}
@media screen and (max-width:300px) {
    .left-part p{
        visibility: hidden;
       
      }
}
.menuIcon{
    font-size: 2rem;
    display: block;
    margin: 0 10px;
    color: #695CFE;
    padding: 3px;
    border: 1px solid #695CFE;
    border-radius: 1px;
    cursor: pointer;
    background: white;
}
.extra-btn{
    display: flex;
    align-items: center;
    justify-content: space-between;
}